extends template
block variables
	-var title = 'О нас'

block content
	.second-intro
		.overflow
		.container
			.second-intro__inner
				h1.second-intro__title Наша задача
	
	section.section
		.container
			.reverse-about
				img(src="../img/aboutUs1.jpg")
				p.about__text Название нашей организации отображает ее интересы - объединение усилий народа для сохранения природоохранных зон Российской федерации и популяризация их. В 2020 году рабочая группа Проекта восток вышла из состава Фонда национальной природы (ФНП). Возникла отдельная организация ДВПВ “Дальневосточный Проект Восток”, однако неофициальное название “Проект восток” используется и в настоящее время.

	section.section
		.container
			.about
				img(src="../img/aboutUs2.jpg")
				p.about__text Продолжая свою работу, Проект восток активно способствует развитию сети особо охраняемых природных территорий на Дальнем Востоке России, содействует международному сотрудничеству по вопросам сохранения биологического разнообразия и уникальных экосистем Дальневосточного округа. В 2022 г. БФП в составе Санкт-Петербургского общества естествоиспытателей стал первой организацией в регионе – членом Международного союза охраны природы (IUCN), и продолжает там свою работу и по настоящее время.

	section.section
		.container
			.reverse-about
				img(src="../img/aboutUs3.jpg")
				p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ducimus tempora quas assumenda dolorum nostrum impedit maiores dolorem reiciendis molestiae repellendus nemo quidem iusto repellat ab tempore modi, ullam vel.Voluptate voluptatum aspernatur, natus tenetur vel expedita assumenda minus dolore amet quidem temporibus quae adipisci? Eos ratione, blanditiis maxime necessitatibus atque, debitis culpa dolore omnis corporis eaque voluptates adipisci quia.Maxime eum eos recusandae enim adipisci fugit ab quod autem doloremque delectus magnam quam exercitationem labore similique reprehenderit quis sequi numquam vel, ipsa, cum cupiditate dicta rem. Dolorem, doloremque doloribus.Similique vel veniam maiores est optio veritatis expedita aliquid obcaecati voluptate fugiat iste, praesentium at eius sequi ea quaerat vitae quia earum iure, itaque cumque corrupti! Saepe perferendis est officia!Dolore esse velit blanditiis! Deleniti nostrum illum excepturi asperiores rem perferendis. Dolores velit quo, quas facilis quae odit magni ullam dignissimos aspernatur, dolorum nostrum? Harum tempora dolor repudiandae sapiente quia.